.explore{
    color: white;
    border: 1px solid red;
    height: 92vh;
    overflow: hidden;
}
.explore-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    height: 85vh;
    overflow: hidden;
    overflow-y: scroll;
}
.content-container{
    height: 30vh;
}
.image-photo-explore{
    height: 100%;
}