@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.home{
    color: white;
    /* border: 1px solid red; */
    height: 92vh;
}
.home-title{
    font-family: 'Grand Hotel', cursive;
    font-size: 40px;
    text-align: center;
}
.home-content{
    border: 1px solid red;
    height: 85vh;
}