.signup{
    color: white;
    height: 92vh;
}
.signup-form{
    margin: 90px 20px 20px 20px;
    height: 65vh;
    display: grid;
}
input, button{
    height: 30px;
    margin: 0 20px;
}
.link-tag{
    text-align: center;
    color: rgb(110, 115, 115);
}
