.profile{
    /* border: 1px solid red; */
    height: 92vh;
    color: white;
}
.username{
    font-size: 30px;
    /* border: 1px solid red; */
    padding: 10px;
}
.information-box{
    /* border:1px solid red; */
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    text-align: center;
    height: 15vh;
}
.profile-image{
    border: 1px solid red;
    border-radius: 50%;
    
}
.image{
    max-height: 100%;
    
}
