.profile{
    /* border: 1px solid red; */
    height: 92.2vh;
    color: white;
    overflow: hidden;
}
.username{
    font-size: 30px;
    /* border: 1px solid red; */
    padding: 10px;
}
.information-box{
    /* border:1px solid red; */
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    text-align: center;
    height: 15vh;
}
.profile-image{
    /* border: 1px solid red; */
    border-radius: 50%;
    
}
.image{
    max-height: 100%;
    
}
.posts{
    border: 1px solid red;
    height: fit-content;
    height: 64vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    overflow: hidden;
    overflow-y: scroll;
}
.posts-container{
    height: 20vh;
    /* border: 1px solid blue; */
}
.posts-photo{
    max-height: 100%;
}
.follow-button{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 85%;
}
